<mat-card>
    <h2>ToDo</h2>
</mat-card>


<div class="todoContent">
    <div class="example-container">
        <h2>To Do</h2>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todos" [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todos" cdkDrag>{{item.todoTitle}}
                <mat-icon (click)="deleteTodo()">delete_outline</mat-icon>
            </div>

        </div>
    </div>

    <div class="example-container">
        <h2>Done</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.doneTitle}}
                <mat-icon (click)="deleteDone()">delete_outline</mat-icon>
            </div>

        </div>
    </div>
</div>

<button (click)="openDialog()" class="user-button" mat-fab color="primary" matTooltip="Add To Do">
    <mat-icon>add</mat-icon>
</button>